:root{
       scroll-behavior: smooth;
        font-size:100%;
        background-color: var(--color-beige);


}
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
}
p a{
    display: inline;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong , em , mark, pre, code{
    font:inherit;
}
mark{
    background-color:transparent;
}
picture , img, video , iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}
svg{
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
}


form , input , select , option , textarea , label , fieldset , legend , button{
    display: block;
    font:inherit;
    background-color: initial;
}
fieldset {
    border : none ;
}
button , label{
    cursor: pointer;
}

main{
    display: flex;
    flex-flow: row nowrap;

    gap: 5rem;
}

.Contenido{
    width: 70%;
    margin: 10rem 0rem 0rem;
}

@media(max-width:800px) {
    .Contenido {
        width: 90%;
        margin: 6rem auto 0rem;
    }
}
.Contenido-h1{
    font-family: var(--tipografia-principal);
    font-weight: 600;
    font-size: var(--tipografia-principal-size);
    text-align: center;
}

.Contenido-h2{
    margin: 1rem 0rem;
    font-family: var(--tipografia-principal);
    font-weight: 600;
    font-size: var(--tipografia-principal-size);
    text-align: center;

}

.Contenido-p{
    width: 50%;
    max-width: 1300px;
    margin: auto 0rem 0rem;

    font-family: var(--tipografia-principal);
    font-weight: var(--tipografia-principal-light);
    font-size: var(--tipografia-principal-size);
    text-align: left;
}

@media(max-width:800px){
    .Contenido-p{
        width: 100%;
        text-align: center;
    }
}

.Contenido-grid{
    margin: 3rem 0rem;
    display:grid;
    grid-template-columns: repeat( 2 , 1fr);
    gap: 3rem;
}

.Contenido-grid .Contenido-p{
    width: 90%;
}

@media(max-width:600px){
    .Contenido-grid{
        display:flex;
        flex-flow: column nowrap;
    }
}


.Contenido-img--sola{
    width: calc(50% - 1.5rem);
    margin: 0rem 0rem 3rem auto;
}

@media(max-width:600px){
    .Contenido-img--sola{
        width: 100%;
    }
}