:root{
       scroll-behavior: smooth;
        font-size:100%;
        background-color: var(--color-beige);


}
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
}
p a{
    display: inline;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong , em , mark, pre, code{
    font:inherit;
}
mark{
    background-color:transparent;
}
picture , img, video , iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}
svg{
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
}


form , input , select , option , textarea , label , fieldset , legend , button{
    display: block;
    font:inherit;
    background-color: initial;
}
fieldset {
    border : none ;
}
button , label{
    cursor: pointer;
}

/* Esto me lo ha respondido la IA*/
.Cabecera-a--inicio::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--color-azul);
  display: inline-block;
  border-radius: 50%;
  margin-right: .4rem;
}

.Titulo{
    position: sticky;
    top: calc(var(--medida-cabecera) + 1rem);
}

.Portada{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-content: center;

    position: relative;
    /* top: 10.3rem;  */
    /* Numero magico  */

}

.Portada-wrapper{
    position: sticky;
    top:12rem;
}


.Destacado{
    width: 100%;
    position: sticky;

    font-size: 4rem;
    text-align: justify;
    line-height: 3.5rem;
    padding: 0rem 6rem;
    margin: 0rem 0rem 4rem;
}

.Objeto{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;

    position: absolute;
    bottom: 2rem;
    z-index:1;

}

.Objeto-taza{
    width: 20%;
    position: relative;

}

.Objeto-img{
    width: 90%;
}
.Portada-objeto--taza{
    transform: translateX(-20%) translateY(-30%) rotate(-18deg);
}




.Objeto-aside{
    width: 100%;
    min-height: 100%;


    position: absolute;
    top: 15%;
    right: 15%;
    
    z-index: 1;


    opacity: 0;
    pointer-events: none;

}
.Portada-span{
    color:black;
}

.Portada-aside--taza.isActive{
    background-color: greenyellow;

    opacity: 1;
}

.Presentacion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;    
}

.Presentacion-p{
    width: 30%;;
    text-align:center;
}


/* Hasta aqui la primera pantalla */

.Contenido{
    background-color: var(--color-beige);
    min-height: calc( 100vh - var(--medida-cabecera));
    z-index: 1;

    padding: 3rem 6rem;


    position: sticky;
    top: var(--medida-cabecera);
}

.Contenido--azul{
    background-color: var(--color-azul);
}

.Contenido-h2{
    width: 70%;
    font-size: var(--tipografia-titulos-size);
    font-weight: var(--tipografia-titulos-bold);

    line-height: var(--tipografia-titulos-size)
}
.Contenido-h2--beis{
    color: var(--color-beige)
}

.Contenido-p{
    width: 70%;
    font-size: var(--tipografia-principal-size);

    margin: 3rem 0rem;
}

.Contenido-p--beis{
    color: var(--color-beige);
    margin: 3rem 0rem 1rem;
}

.Contenido-enlace{
    font-size: var(--tipografia-principal-size);
    color: var(--color-beige)
}

.Contenido-div{
    margin: 2rem 0rem 0rem 0.5rem;
}

.Contenido-enlace:hover{
    color: black;
    text-decoration: underline;
}