/**\
index.css
- Reset
- Cabecera
-Main
\**/
:root{
       scroll-behavior: smooth;
        font-size:100%;
        background-color: var(--color-beige);


}
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
}
p a{
    display: inline;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong , em , mark, pre, code{
    font:inherit;
}
mark{
    background-color:transparent;
}
picture , img, video , iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}
svg{
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
}


form , input , select , option , textarea , label , fieldset , legend , button{
    display: block;
    font:inherit;
    background-color: initial;
}
fieldset {
    border : none ;
}
button , label{
    cursor: pointer;
}

/* pseudo-elemento especifico para personalizar la cabecera en cada página*/
.Cabecera-a--inicio::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--color-azul);
  display: inline-block;
  border-radius: 50%;
  margin-right: .4rem;
}

/*PRIMER BLOQUE:
-Titulo
- texto presentacion
-Elementos objetos*/

.Titulo{
    position: sticky;
    top: calc(var(--medida-cabecera) + 1rem);
}

.Portada{
    min-height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;

    position: relative;

}

.Portada-wrapper{
    position: sticky;
    top:12rem;
}


.Destacado{
    width: 100%;
    position: sticky;

    font-size: 4rem;
    text-align: left;
    line-height: 3.8rem;
    padding: 0rem 6rem;
    margin: 0rem 0rem 4rem;
}

@media(max-width: 1000px){
    .Destacado{
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;

        padding: 0rem 2rem;
    }
}

@media(max-width: 700px){
    .Destacado{
        font-size: 2.4rem;
        line-height: 2rem;
        text-align: center;

        padding: 0rem 2rem;
    }
}

/*Objetos ordenador + taza.*/

.Objeto{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;

    position: absolute;
    bottom: 2rem;
    z-index:1;

}


@media(max-width: 1000px){
    .Objeto{
        top: 10rem;
    }
}

/*Especificaciones objeto taza*/

.Objeto-taza{
    width: 20%;
    height: fit-content;
    position: relative;

    animation: giroTaza linear both;
    animation-timeline: scroll(root block);
    animation-range: entry(40%)  exit(100%);
    transform-origin: top right;

}

@keyframes giroTaza {
    from{
        transform: rotate(-18deg) translateX(-20%) translateY(-50%);
    }
    to{
        transform: rotate(100deg) translateX(-20%) translateY(-50%);
    }
    
}

@media(max-width: 1000px){
    .Objeto-taza{
        width: 30%;
    }
}

/*Especificaciones objeto ordenador*/

.Objeto-ordenador{
    width: 30%;
    height: fit-content;
    position: relative;

    animation: giroOrdenador linear both;
    animation-timeline: scroll(root block);
    animation-range: entry(0%)  exit(100%);
    transform-origin: top right;

}

@keyframes giroOrdenador {
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(90deg);
    }
    
}

@media(max-width: 700px){
    .Objeto-ordenador{
        width: 50%;
    }
}

.Objeto-img{
    width: 90%;
}

/*Clases para la interacción con JavaScript*/

.Objeto-taza .Objeto-aside{
    width: 100%;
    min-height: 50%;

    position: absolute;
    bottom: 0rem;
    right: 7rem;
    
    z-index: 1;


    opacity: 0;
    pointer-events: none;

}

.Objeto-ordenador .Objeto-aside{
    width: 60%;
    min-height: 50%;

    position: absolute;
    top: 25%;
    left: -4rem;
    
    z-index: 1;


    opacity: 0;
    pointer-events: none;

}
.Objeto-span{
    color:black;
}

.Objeto-aside--taza.isActive{
    background-color: greenyellow;

    opacity: 1;
}

.Objeto-aside--ordenador.isActive{
    background-color: greenyellow;

    opacity: 1;
}

/*Parrafo de la primera pantalla*/

.Presentacion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;    
}

.Presentacion-p{
    width: 30%;;
    text-align:center;
}


/* Hasta aqui la primera pantalla */

/*SEGUNDO Y TERCER BLOQUE:
- titulo + texto*/

.Contenido{
    background-color: var(--color-beige);
    min-height: calc( 100vh - var(--medida-cabecera));
    z-index: 1;

    padding: 3rem 6rem;


    position: sticky;
    top: var(--medida-cabecera);
}

.Contenido--azul{
    background-color: var(--color-azul);
}

@media(max-width: 700px){
    .Contenido{
        padding:0rem;
        margin: auto;
    }
}

.Contenido-div{
    margin: 2rem 0rem 0rem 0.5rem;
}

.Contenido-h2{
    width: 70%;
    font-size: var(--tipografia-titulos-size);
    font-weight: var(--tipografia-titulos-bold);

    line-height: var(--tipografia-titulos-size)
}

.Contenido-h2--beis{
    color: var(--color-beige)
}

@media(max-width: 1000px){
    .Contenido-h2{
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media(max-width: 700px){
    .Contenido-h2{
        width: 85%;
        margin: auto;
        padding-top: 3rem;

        font-size: var(--tipografia-titulos-movil);
        line-height: var(--tipografia-titulos-movil);
        text-align: center;

    }
}


.Contenido-p{
    width: 70%;
    font-size: var(--tipografia-principal-size);

    margin: 3rem 0rem;
}


.Contenido-p--beis{
    color: var(--color-beige);
    margin: 3rem 0rem 1rem;
}

@media(max-width:800px){
    .Contenido-p{
        width: 85%;
        margin: auto;
        padding-top: 3rem;
        text-align: center;
    
    }
}

.Contenido-enlace{
    font-size: var(--tipografia-principal-size);
    color: var(--color-beige)
}


.Contenido-enlace:hover{
    color: black;
    text-decoration: underline;
}