:root{
       scroll-behavior: smooth;
        font-size:100%;
        background-color: var(--color-beige);


}
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
}
p a{
    display: inline;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong , em , mark, pre, code{
    font:inherit;
}
mark{
    background-color:transparent;
}
picture , img, video , iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}
svg{
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
}


form , input , select , option , textarea , label , fieldset , legend , button{
    display: block;
    font:inherit;
    background-color: initial;
}
fieldset {
    border : none ;
}
button , label{
    cursor: pointer;
}


/* Esto me lo ha respondido la IA*/
.Cabecera-a--sobremi::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--color-azul);
  display: inline-block;
  border-radius: 50%;
  margin-right: .4rem;
}

.Titulo{

    top:calc(var(--medida-cabecera) + 1rem);
}
.Wrapper{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-content: start;
    justify-items: start;
    align-items: start;
}

@media(max-width: 1000px){
    .Wrapper{
        grid-template-columns: 30% 70%;
        gap: 1rem;
    }
}

.Columna{
    /* background-color: brown; */

}

.Columna--izquierda{
    margin: 0rem auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;

    position:relative;
}


@keyframes imagenGiro {
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(40deg);
    }
    
}

.Columna-img{
    width: 60%;
    margin:auto;
    padding: 4rem 0rem 0rem;
    /* transform: rotate(-15deg); */

    animation: imagenGiro linear both;
    animation-timeline: scroll(root block);
    animation-range: entry(0%)  exit(100%);
    transform-origin: center center;
}

@media(max-width: 1000px){
    .Columna-img{
        width: 60%;
        margin: auto;
        transform: rotate(-8deg)
    }
}

@media(max-width: 700px){
    .Columna-img{
        width: 80%;
        padding: 4rem 0rem 0rem 1rem;
    }
}

.Columna-popup{
    opacity: 0;
    pointer-events: none;

    background-color: var(--color-hover);
    width: 60%;
    min-height: 50px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position:absolute;
    bottom:1rem;
    right: 0rem;
}

.Columna-popup.isActive{
    opacity: 1;  
}

@media (max-width: 700px){
    .Columna-popup.isActive{
        display: none;
    }
}

.Popup-texto{
    font-size: var(--tipografia-principal-size);
    font-weight: var(--tipografia-principal-light);
    color: var(--color-negro);
}

.Columna--derecha{
    width: 80%;

    position:relative;
    z-index:1;
     height: 800px;
}

@media(max-width: 700px){
    .Columna--derecha{
        width: 90%;
        padding: 0rem 1rem 0rem 2rem;
    }
}

.Columna-section{
    margin: 1.5rem 0rem 0rem;
}
.Columna-h2{
    font-weight: var(--tipografia-titulos-bold);
}