:root{
       scroll-behavior: smooth;
        font-size:100%;
        background-color: var(--color-beige);


}
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
}
p a{
    display: inline;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong , em , mark, pre, code{
    font:inherit;
}
mark{
    background-color:transparent;
}
picture , img, video , iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}
svg{
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
}


form , input , select , option , textarea , label , fieldset , legend , button{
    display: block;
    font:inherit;
    background-color: initial;
}
fieldset {
    border : none ;
}
button , label{
    cursor: pointer;
}

main{
    display: flex;
    flex-flow: row nowrap;

    gap: 5rem;
}


.Contenido{
    background-color: red;
    width: 70%;
    margin: 10rem 0rem 0rem;
}

.Contenido-sticky{

    min-height: 200vh;
    margin:auto;

    position: relative;
}

.Sticky-carrusel{

    margin: auto;
    position: sticky;
    top: calc( var(--medida-cabecera) + 4rem);
}

.Contenido-h1{
    font-weight: 600;
    font-size: var(--tipografia-principal-size);
    text-align: center;
}

.Contenido-h2{
    margin: 1rem 0rem;
    font-weight: 600;
    font-size: var(--tipografia-principal-size);
    text-align: center;

}

.Contenido-p{
    width: 50%;
    margin: auto;
    font-weight: var(--tipografia-principal-light);
    font-size: var(--tipografia-principal-size);
    text-align: center;
    
}

.Contenido-carrusel{
    background-color: azure;

    overflow: hidden;
    max-height: 600px;
}

.Carrusel-wrapper{
    width: 180%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;


    animation: movimientoCarrusel linear both;
    animation-timeline: scroll(root block);
    animation-range: entry(0%)  exit(180%);
    transform-origin: center center;
}

   

@keyframes movimientoCarrusel {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-45%);
    }
    100%{
        transform: translateX(-45%);
    }
    
}


.Carrusel-img{
    height: 80%;
}
.Contenido-descripcion{
    width: 70%;

    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
}

.Contenido-columnas{
    width: 100%;
    margin: 4rem 0rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: start;

    position:relative;
}

.Contenido-columnas--reverse{
    justify-content: start;
}

.Columna-dibujo{
    width: 70%;
    position:absolute;
    z-index: 1;

    left:0;
    top:0;
}

.Contenido-dibujo .Contenido-columnas--reverse{
    left:auto;
    right: 0;
}
.Columna-cartel{
    width: 40%;
}