*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

.Contenedora{
    position:relative;
    background-color: #e0e0e0;
}

.Imagen{
    width: 100%;
    min-height: 100vh;
  /*   background-color: red; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Imagen-marco{
    width: 90%;
    max-width: 300px;
    min-height: 200px;
    max-height: 300px;

        border-radius: 50px;
background: #e0e0e0;
box-shadow:  24px 24px 47px #bebebe,
             -24px -24px 47px #ffffff;

   display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    border: 1rem solid #bebebe;

overflow: hidden;
}


.Imagen-img{
    transition: all .5s ease;
}
.Imagen-img:hover{
    scale: 1.4;
}


.Lightbox{
    width: 100%;
    min-height: 70vh;
    position: absolute;
    top: 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    transition: opacity .9s ease;
}

.Lightbox.isActive{

    opacity: 1;
    pointer-events: auto;

}

.Lightbox-button{
    margin: 20px auto;
    padding: 1rem;

    border-radius: 50px;
background: #ffffff;
box-shadow:  24px 24px 47px #bebebe,
             -24px -24px 47px #ffffff;
}
.Lightbox-img{
    width: 90%;

            border-radius: 50px;
background: #e0e0e0;
box-shadow:  24px 24px 47px #bebebe,
             -24px -24px 47px #ffffff;

}